.App {
  text-align: center;
}

table {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

th {
  background-color: lightblue;
  font-size: 1.17em;
}

tr {
  font-weight: normal;
  transition: 0.01s ease;
}

.odd-row {
  background-color: lightgray;
}

.even-row {
  background-color: inherit;
}

tr:hover {
  background-color: grey;
}

td {
  padding: 5px;
}